.nav-list {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-list > li {
  /* width: max-content; */
  flex-grow: 0;
  flex-shrink: 1;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  border: 5px solid orange;
  gap: 1rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

.flex-wrap > li {
  border: 5px solid green;
  flex-grow: 1;
  flex-shrink: 1;
}

.nav-list {
  border: 5px solid orange;
}

.nav-list > li {
  border: 5px solid green;
}

.columns {
  display: flex;
  /* flex-direction: row; */
  align-items: flex-end;
  border: 5px solid red;
  gap: 2rem;
  /* width: 800px; */
}

@media (min-width: 650px) {
  .columns {
    flex-direction: row;
  }
}

.columns > * {
  background: green;
  padding: 1rem;
  /* flex-shrink: 1;
  flex-grow: 1; */
  /* flex: 1; */
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;
}

.card:nth-child(2) {
  background: pink;
  align-self: flex-start;
}
